body { background: #2d5fbe; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 20px; display: flex; }
.block-token-0 { color: #239a92; font-size: 21px; margin-bottom: 5px; }
.block-shipping-1 { color: #21a6a6; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #b8839d; font-size: 18px; margin-bottom: 5px; }
.block-user-3 { color: #7ebe05; font-size: 12px; margin-bottom: 5px; }
.block-invoice-4 { color: #54a28f; font-size: 17px; margin-bottom: 5px; }